*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTWouce5koVXxhYtO4tAn1-kAETFRythlrqQ&s') no-repeat center center/cover;
}
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box{
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.3);
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
Button{
  margin: 5px;
}
.active-button{
  background-color: beige ;
  color: black;
}
.Thunderstorm{
  background: url('https://i.namu.wiki/i/UxWf2qjJPwmkbqzWkITE0uBiEIr34ouyl0EZR-WlrCGCbxjIslzJlBlGiZjFsaaH4Y6rNckVplMXBDni9SCdIA.webp') no-repeat center center/cover;
}
.Drizzle{
  background: url('https://lh3.googleusercontent.com/proxy/G1dmd30tyx4uu1P7AY7pctg1Jz-YL4mNy69b2dv1AHEXF_AORBj4qJbf422clcgz4GQfzs5PWrdViKdZocOBESMQH9wXQzArvp6db-BBXQMjlvCIxWHJw_xmPbduIpE') no-repeat center center/cover;
}
.Rain{
  background: url('https://png.pngtree.com/thumb_back/fh260/background/20220603/pngtree-rainy-raindrops-grey-black-dripping-background-image_1402081.jpg') no-repeat center center/cover;
}
.Snow{
  background: url('https://www.adobe.com/kr/creativecloud/photography/hub/guides/media_19be50009ba86b0f56ac7abd68fa2e8c31caaa87f.png?width=750&format=png&optimize=medium') no-repeat center center/cover;
}
.Mist{
  background: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/fog--mist/foggy-morning-in-a-meadow.jpg') no-repeat center center/cover;
}
.Clear{
 background: url('https://png.pngtree.com/thumb_back/fh260/background/20201015/pngtree-sunny-natural-background-blue-sky-with-white-clouds-image_417538.jpg') no-repeat center center/cover;
}
.Clouds{
  background: url('https://images.unsplash.com/photo-1746159234728-ab745aebe7bf?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8JUVCJUI2JTg4JUVBJUI4JUI4JUVEJTk1JTlDJTIwJUVBJUI1JUFDJUVCJUE2JTg0fGVufDB8fDB8fHww') no-repeat center center/cover;
}

@media (max-width:480px){
  .button-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 칸을 만들고, 각 칸을 1fr(fraction=비율단위)로 동일하게 나눠라 */
    gap: 8px;
    padding: 15px;
  }
}